.App {
  text-align: center;
}

.App-logo {
  height: 120px;
  pointer-events: none;
  fill: red !important;
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-360deg) scale(1.5);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav form {
  padding: 10px;
  margin: 0px 10px;
}

nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}
nav ul li {
  margin: 10px 15px;
}
nav ul li button {
  padding: 8px 16px;
}
.normalBtn {
  font-size: 1.3em;
  font-weight: 600;
  background-color: yellow;
  background-image: linear-gradient(
    90deg,
    rgb(249, 19, 19, 0.5),
    rgb(202, 57, 5, 0.9)
  );
  color: aliceblue;
  border: 5px outset whitesmoke;
  cursor: pointer;
  user-select: none;
}
.normalBtn:hover {
  background-image: linear-gradient(
    180deg,
    rgb(249, 19, 19, 0.5),
    rgb(202, 57, 5, 0.9)
  );
  color: rgb(147, 194, 235);
  border: 5px inset whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main img {
  width: 100px;
  margin: 20px 30px;
}
.gatto {
  border-radius: 40%;
  animation: cats infinite 5s;
}
@keyframes cats {
  0% {
    transform: rotate(0deg) translate(50%) scale(1);
  }
  50% {
    transform: rotate(90deg) translate(0%) scale(1.5);
  }
  100% {
    transform: rotate(0deg) translate(50%) scale(1);
  }
}
